@font-face {
    font-family: "Peace Sans";
    src: url("PeaceSans.eot");
    src: local("Peace Sans"), local("PeaceSans"),
        url(".././fonts/PeaceSans/PeaceSans.eot?#iefix") format("embedded-opentype"),
        url(".././fonts/PeaceSans/PeaceSans.woff") format("woff"),
        url(".././fonts/PeaceSans/PeaceSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
