@font-face {
    font-family: "Peace Sans";
    src: url("PeaceSans.eot");
    src: local("Peace Sans"), local("PeaceSans"),
        url(".././fonts/PeaceSans/PeaceSans.eot?#iefix") format("embedded-opentype"),
        url(".././fonts/PeaceSans/PeaceSans.woff") format("woff"),
        url(".././fonts/PeaceSans/PeaceSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "icomoon";
    src: url(".././fonts/icomoon/icomoon.eot?fhcivd");
    src: url(".././fonts/icomoon/icomoon.eot?fhcivd#iefix") format("embedded-opentype"),
        url(".././fonts/icomoon/icomoon.ttf?fhcivd") format("truetype"),
        url(".././fonts/icomoon/icomoon.woff?fhcivd") format("woff"),
        url(".././fonts/icomoon/icomoon.svg?fhcivd#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-od:before {
    content: "\e900";
}
.icon-vk:before {
    content: "\e901";
}
